dialog[is="diff-modal"],
dialog[is="commit-modal"],
dialog[is="welcome-modal"],
dialog[is="repo-config-modal"] {
  height: 50%;
  width: 50%;
  max-height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  padding: 20px;
  box-sizing: border-box;
  border-width: 2.5px;
  border-radius: 10px;
  font-weight: normal;
  user-select: none
}

dialog[is="commit-modal"],
dialog[is="repo-config-modal"] {
  overflow-x: hidden;
  overflow-y: auto;
}

dialog[is="welcome-modal"] {
  overflow: hidden;
}

html[style*="--ui-primary: #111111"] .alert-button {
  color: white;
}

dialog[is="diff-modal"] {
  padding: 0;

  .close-button {
    padding: 0 1rem;
    margin-left: auto;
    margin-right: 10px;
  }
}

dialog[is="welcome-modal"] {
  display: flex;
  gap: 15px;
  padding: 0;
}

.copy-button {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.sprite-diff {
  transition: scale 0.15 ease-out, box-shadow 0.15 ease-out;
  scale: 0.8;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 2px var(--looks-transparent);
}

.stage-diff {
  margin-top: 40px;
  z-index: 99999;
  transition:
    scale 0.15 ease-out,
    box-shadow 0.15 ease-out;
  scale: 0.8;
  border-radius: 20px;
  box-shadow: 0 0 0 2px var(--looks-transparent);
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .input-label {
    font-weight: bold;
  }

  & .input-box {
    border-radius: 5px;
  }
}