.blocks {
  flex: 1;
  padding: 20px;
  margin-left: 125px;
}

.indicator-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 1.75rem;
  height: 1.75rem;
  box-shadow: 0px 0px 0px 2px var(--looks-transparent);
  background-color: var(--looks-secondary);
  color: var(--ui-white);
  border-radius: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

dialog[is="diff-modal"],
dialog[is="commit-modal"],
dialog[is="welcome-modal"] {
  height: 50%;
  max-height: 50%;
  width: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  max-height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  padding: 20px;
  box-sizing: border-box;
  border-width: 2.5px;
  border-radius: 10px;
  font-weight: normal;
}

.a-gap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumbnail {
  filter: hue-rotate(90deg) saturate(1.3);
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
}

dialog[is="diff-modal"] {
  padding: 0;
}

dialog[is="welcome-modal"] {
  display: flex;
  gap: 15px;
  padding: 0;
}

.tab-btn {
  display: flex;
  align-items: center;

  & .change-icon {
    font-size: 17px;
    margin-right: 10px;
  }

  .open-script {
    font-size: 10px;
    padding: 5px;
    margin-left: 10px;
    filter: none;

    &:hover {
      filter: brightness(1.7);
    }
  }
}

#commitView {
  margin-left: 10px;

  & .scratchblocks {
    user-select: none;
  }
}

#commitList {
  position: absolute;
  left: 47%;
  transform: translateX(-50%);
  width: 65%;

  & .commit-search {
    border-radius: 5px;
    border: 1px solid #111;
    padding: 6px;
  }
}

.round-left-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  user-select: none
}

.round-right-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  user-select: none
}


.dark {
  background-color: #111 !important;
  color: #eee;

  & #scripts li .tab-btn {
    background-color: rgb(46, 46, 46);
    color: #707070;

    & .active-tab {
      background-color: rgb(76, 76, 76);
      color: #eee;
    }
  }
}

.dark.commit-search {
  border: 1px solid #fff !important;
}

#commits {
  align-items: center;
  margin-left: 10px;
  user-select: none;
  font-weight: normal;
}

.commit {
  border: 1px solid grey;
  min-width: 100%;
  padding: 10px 20px;

  &:first-child {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &:not(:first-child) {
    border-top: none;
  }

  &:last-child {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &:only-child {
    border-radius: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pathInput::file-selector-button {
  display: none;
}

.finishContent {
  text-align: left;
  font-weight: normal;
  width: fit-content;
}

#creationError {
  text-wrap: balance;
  font-family: system-ui;
}

#step1,
#step3 {
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 100%
}

#step2 {
  display: none;
  flex-direction: column;
  padding: 20px
}

.stage-diff {
  margin-top: 40px;
  scale: 0.8;
  z-index: 99999;
  transition: scale 0.15 ease-out, box-shadow 0.15 ease-out;
  scale: 0.8;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 2px var(--looks-transparent);
}

/* sidebar */

.sidebar {
  display: flex;
  height: 100%;
  padding-right: 5px;

  & .in diff-modal {
    margin: 0;
    padding: 0;
    width: 98%;
    bottom: 15px;
    justify-content: right
  }

  & main {
    overflow-y: auto;
    flex-grow: 1;
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    list-style-type: none;

    & .tab-btn {
      padding: 15px 30px;
      border: 0.5px solid grey;
      background-color: #d9e3f2;
      color: hsla(225, 15%, 40%, 0.75);
      transition: 0.2s background-color ease-in;
      margin-top: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &:hover {
        background-color: #ccd3dd;
      }
    }
  }

  & aside {
    padding: 1rem;
    border-right: 1px solid grey;
    background-color: #e6f0ff;
    margin-left: -20px;
  }

  & hr {
    background-color: grey;
    height: 1px;
    border: 0;
    width: 95%;
  }

  .content {
    margin-top: 10px;
    overflow-x: hidden;
  }
}

.active-tab {
  color: var(--menu-bar-background-default);
  background-color: white;
  outline: none;
}

.display-error {
  text-align: center;
  font-weight: bold;
}

.bottom {
  margin-top: auto;
}

.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
}

/* top bar */

.topbar {
  background-color: #e6f0ff;
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  position: absolute;
  margin-left: 135px;
  padding: 10px;
  border-bottom: 1px solid grey;
  width: 100%;

  & a {
    display: inline-block;
    padding: 0 10px;
    color: hsla(225, 15%, 40%, 0.75);
    text-decoration: none;
  }
}

.dark .topbar {
  background-color: #111;

  & a {
    color: #707070;

    & .active-tab {
      color: #eee;
    }
  }
}