dialog[is="diff-modal"],
dialog[is="commit-modal"],
dialog[is="welcome-modal"],
dialog[is="repo-config-modal"] {
  height: 50%;
  width: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  max-height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  padding: 20px;
  box-sizing: border-box;
  border-width: 2.5px;
  border-radius: 10px;
  font-weight: normal;
}

dialog[is="commit-modal"],
dialog[is="repo-config-modal"] {
  overflow-x: hidden;
  overflow-y: auto
}

dialog[is="welcome-modal"] {
  overflow: hidden;
}

html[style*="--ui-primary: #111111"] .alert-button {
  color: white
}

.commit-view {
  padding: 10px;
  width: fit-content;
  border-radius: 10px;

  --dot-space: 22px;
  --dot-size: 1px;
  --dot-bg: white;
  --dot-color: #d2d2d2;

  background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.commit-view:has(.commit-wrap > pre) {
  background: #f1f1f1;
}

.floppy-save-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-gap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumbnail {
  filter: hue-rotate(90deg) saturate(1.3);
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
}

dialog[is="diff-modal"] {
  padding: 0;

  .close-button {
    padding: 0 1rem;
    margin-left: auto;
    margin-right: 10px;
  }
}

dialog[is="welcome-modal"] {
  display: flex;
  gap: 15px;
  padding: 0;
}

.tab-btn {
  display: flex;
  align-items: center;

  & .change-icon {
    font-size: 17px;
    margin-right: 10px;
  }

  .open-script {
    font-size: 10px;
    padding: 5px;
    margin-left: 10px;
    filter: none;

    &:hover {
      filter: brightness(1.7);
    }
  }
}

.commit-search {
  border-radius: 5px;
  border: 1px solid #111;
  padding: 6px;
}

.copy-button {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.round-left-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  user-select: none;
}

.round-right-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  user-select: none;
}

.dark {
  & aside {
    background-color: #111 !important;
    color: #eee;
  }

  & .tab-btn {
    background-color: rgb(46 46 46);
    color: #707070;
  }

  .commit-view {
    --dot-space: 22px;
    --dot-size: 1px;
    --dot-bg: #1e1e1e;
    --dot-color: #707070;
  }

  .commit-view:has(.commit-wrap > pre) {
    background: #1e1e1e;
  }
}

.dark .tab-btn.active-tab {
  background-color: rgb(76 76 76) !important;
  color: #eee !important;
}

.dark.commit-search {
  border: 1px solid #fff !important;
}

#commits {
  align-items: center;
  margin-left: 10px;
  user-select: none;
  font-weight: normal;
}

.commit {
  border: 1px solid grey;
  padding: 10px 20px;

  &:first-child {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-child) {
    border-top: none;
  }

  &:last-child {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:only-child {
    border-radius: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pathInput::file-selector-button {
  display: none;
}

.disabled-config-input {
  pointer-events: none;
  border: none;
  font-size: 14px;
}

.welcome-screen-content {
  text-align: left;
  font-weight: normal;
  width: fit-content;
}

#creationError {
  text-wrap: balance;
  font-family: system-ui;
}

#step1,
#step3 {
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

#step2 {
  display: none;
  flex-direction: column;
  padding: 20px;
}

.stage-diff {
  margin-top: 40px;
  z-index: 99999;
  transition:
    scale 0.15 ease-out,
    box-shadow 0.15 ease-out;
  scale: 0.8;
  border-radius: 20px;
  box-shadow: 0 0 0 2px var(--looks-transparent);
}

/* sidebar */

.diff-view {
  display: flex;
  height: 100%;
  padding-right: 5px;

  & .in diff-modal {
    margin: 0;
    padding: 0;
    width: 98%;
    bottom: 15px;
    justify-content: right;
  }

  & main {
    overflow-y: auto;
    flex-grow: 1;
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    list-style-type: none;

    & .tab-btn {
      padding: 15px 30px;
      border: 0.5px solid grey;
      background-color: #d9e3f2;
      color: hsl(225deg 15% 40% / 75%);
      transition: 0.2s background-color ease-in;
      margin-top: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &:hover {
        background-color: #ccd3dd;
      }
    }
  }

  & aside {
    padding: 1rem;
    border-right: 1px solid grey;
    background-color: #e6f0ff;
    margin-left: -20px;
  }

  & hr {
    background-color: grey;
    height: 1px;
    border: 0;
    width: 95%;
  }

  .content {
    margin-top: 10px;
    overflow-x: hidden;
  }
}

.active-tab {
  color: var(--menu-bar-background-default) !important;
  background-color: white !important;
  outline: none;
}

.display-error {
  text-align: center;
  font-weight: bold;
}

.bottom {
  margin-top: auto;
}

.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
}

.tip {
  border-bottom: 1px dashed grey;
  cursor: pointer;

  &:hover {
    cursor: help;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .input-label {
    font-weight: bold;
  }

  & .input-box {
    border-radius: 5px;
  }
}