:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #111;
    box-sizing: border-box;
}

body {
    margin: auto 20%;
}

a {
    color: #25d;
    text-decoration: none;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #171717;
        color: #eee;
        color-scheme: dark;
    }

    a {
        color: rgb(68, 196, 255);
    }
}

@media (max-device-width: 760px) {
    body {
        margin: 10px;
    }
}

footer {
    color: grey;
    text-align: center;
    font-size: small;
}

h2 {
    font-size: 1.3rem;
}

li {
    margin: 10px 0;
}