.tip {
    border-bottom: 1px dashed grey;
    cursor: pointer;

    &:hover {
        cursor: help;
    }
}

.disabled-config-input {
    pointer-events: none;
    border: none;
    font-size: 14px;
}

.floppy-save-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}