.content {
  display: flex;
}

.sidebar {
  width: fit-content;
  position: fixed;
  height: 100%;
  padding-right: 5px;
  border-right: 1px solid grey;
  background-color: #e6f0ff;
  overflow: auto;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style-type: none;
}

.sidebar li button {
  padding: 15px 30px;
  border: 0.5px solid grey;
  background-color: #d9e3f2;
  color: hsla(225, 15%, 40%, 0.75);
  transition: 0.2s background-color ease-in;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar li button:hover {
  background-color: #ccd3dd;
}

.sidebar li button.active-tab,
.topbar a.active-tab {
  color: hsla(0, 100%, 65%, 1);
  background-color: white;
  outline: none;
}

.blocks {
  flex: 1;
  padding: 20px;
  margin-left: 12.5%;
  margin-top: 30px;
}

.bottom {
  margin-top: auto;
}

#diffModal,
#commitModal,
#welcomeModal {
  height: 50%;
  max-height: 50%;
  width: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  max-height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  padding: 20px;
  box-sizing: border-box;
}

#diffModal {
  padding: 0;
}

.thumbnail {
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  filter: hue-rotate(90deg) saturate(1.3);
}

.bottom-bar {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
  bottom: 0;
}

.bottom-bar select {
  font-size: 14px;
  background-color: hsla(0, 100%, 65%, 1);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.tab-btn {
  display: flex;
  align-items: center;
}

.tab-btn i {
  font-size: 17px;
  margin-right: 10px;
}

.scratchblocks {
  margin-left: 10px;
}

.dark {
  background-color: #111;
  color: #eee;
}

.dark #scripts li button {
  background-color: rgb(46, 46, 46);
  color: #707070;
}

.dark #scripts li button.active-tab {
  background-color: rgb(76, 76, 76);
  color: #eee;
}

#commits {
  margin-left: 20px;
}

.commit {
  border: 1px solid grey;
  min-width: 100%;
  padding: 10px 20px;
}

.commit-group .commit:first-child {
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.commit-group .commit:not(:first-child) {
  border-top: none;
}

.commit-group .commit:last-child {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.topbar {
  background-color: #e6f0ff;
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  position: absolute;
  margin-left: 135px;
  padding: 10px;
  border-bottom: 1px solid grey;
  width: 100%;
}

.topbar a {
  display: inline-block;
  padding: 0 10px;
  color: hsla(225, 15%, 40%, 0.75);
  text-decoration: none;
}

.dark .topbar {
  background-color: #111;
}

.dark .topbar a {
  color: #707070;
}

.dark .topbar a.active-tab {
  color: #eee;
}

.pagination {
  display: flex;
  justify-content: center;
}

#pathInput::file-selector-button {
  display: none;
}

#finishContent {
  text-align: left;
}