@import url(./spinner.css);

* {
  box-sizing: border-box;
}

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: white;
  color: #111;
}

body {
  display: flex;
  justify-content: center;
  margin: auto 20%;
}

@media (max-device-width: 760px) {
  body {
    margin: 10px;
  }
}

main {
  display: flex;
  justify-content: center;
}

a {
  color: #25d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  color: grey;
  text-align: center;
  font-size: small;
}

.kinda-big {
  font-size: 20px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #111;
    color: white;
    color-scheme: dark;
  }

  a {
    color: rgb(68, 196, 255);
  }

  :focus-visible {
    outline: 2px solid white;
  }

  .fullscreen,
  .download {
    fill: #fff;
  }

  .stopsign {
    padding-bottom: 10px;
  }

  .controls {
    background: #333 !important;
  }

  .controls button:hover {
    background: #444;
  }

  .controls button:active, :global(.controls button.selected) {
    background: #555 !important;
  }

  .commit:not(.selected):hover {
    background-color: #333 !important;
  }

  :global(.commit.selected) {
    background-color: #444;
  }

  :global(.sc-layers) {
    border: 1px solid #333 !important;
  }
}