.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: var(--ui-modal-background);
    min-width: 160px;
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: -118px;
    font-size: small;
}

.dropdown-content div {
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content div:hover {
    background-color: var(--ui-tertiary);
}