/* sidebar */

.sidebar {
    display: flex;
    height: 100%;
    padding-right: 5px;

    & .in diff-modal {
        margin: 0;
        padding: 0;
        width: 98%;
        bottom: 15px;
        justify-content: right
    }

    & main {
        overflow-y: auto;
        flex-grow: 1;
    }

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    & li {
        list-style-type: none;

        & button {
            padding: 15px 30px;
            border: 0.5px solid grey;
            background-color: #d9e3f2;
            color: hsla(225, 15%, 40%, 0.75);
            transition: 0.2s background-color ease-in;
            margin-top: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            &:hover {
                background-color: #ccd3dd;
            }
        }
    }

    & aside {
        padding: 1rem;
        border-right: 1px solid grey;
        background-color: #e6f0ff;
        margin-left: -20px;
    }

    & hr {
        background-color: grey;
        height: 1px;
        border: 0;
        width: 95%;
    }

    .content {
        margin-top: 10px;
        overflow-x: hidden;
    }
}

.active-tab {
    color: var(--menu-bar-background-default) !important;
    background-color: white !important;
    outline: none;
}

.display-error {
    text-align: center;
    font-weight: bold;
}

.bottom {
    margin-top: auto;
}

.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
}

/* top bar */

.topbar {
    background-color: #e6f0ff;
    overflow: hidden;
    position: sticky;
    top: 0;
    display: flex;
    position: absolute;
    margin-left: 135px;
    padding: 10px;
    border-bottom: 1px solid grey;
    width: 100%;

    & a {
        display: inline-block;
        padding: 0 10px;
        color: hsla(225, 15%, 40%, 0.75);
        text-decoration: none;
    }
}

.dark .topbar {
    background-color: #111;

    & a {
        color: #707070;

        & .active-tab {
            color: #eee;
        }
    }
}