* {
  box-sizing: border-box;
}

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: white;
  color: #111;
}

body {
  display: flex;
  justify-content: center;
  margin: auto 30%;
}

@media (max-device-width: 760px) {
  body {
    margin: 10px;
  }
}

main {
  display: flex;
  justify-content: center;
}

a {
  color: #25d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  color: grey;
  text-align: center;
}

.kinda-big {
  font-size: 20px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #171717;
    color: #eee;
    color-scheme: dark;
  }

  a {
    color: rgb(68, 196, 255);
  }

  :focus-visible {
    outline: 2px solid white;
  }

  .project-commit-viewer {
    border: 1px solid white;
  }

  .fullscreen,
  .download {
    fill: #fff;
  }

  .stopsign {
    padding-bottom: 10px;
  }
}
